.call-project {
  background-color: #A3C9F5;
  padding: 13px 0;
}

.call-project_wrap {
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @include tablet() {
    flex-direction: column;
  }
}

.call-project_title {
  font-family: 'GothamPro-Bold', sans-serif;
  font-size: 24px;
  line-height: 23px;
  color: #FFFFFF;
  margin-right: auto;

  @include tablet() {
    margin-bottom: 10px;
  }

  @include mobile() {
    text-align: center;
  }
}

.call-project_btn {
  font-family: 'GothamPro-Bold', sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #0271B9;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 15px 35px;
}