.catalog-list {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}



.catalog-list_wrap {
  padding: 0;
  margin: 0;
}

.catalog-list_item {
  list-style-type: none;
  background: #FAFAFA;
  box-shadow: 0px 7px 10px rgba(73, 92, 61, 0.15);
  border-radius: 5px;
  padding-bottom: 30px;
  padding-top: 15px;
  margin: 15px;
}

.catalog-list_item-link {
  text-decoration: none;
  outline: none;
}

.catalog-list_content-img {
  overflow: hidden;
  height: 240px;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.catalog-list_content-title {
  font-family: 'GothamPro-Bold';
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  color: #2E2E2E;
  margin-top: 30px;
}

.catalog-list_pagination {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  display: flex;

  li {
    list-style-type: none;
    height: 3px;
    flex: 1;
    background-color: #EEECE8;
    transition: 0.5s;

    button {
      display: none;
    }
  }

  .slick-active {
    background-color: #0271C2;
  }
}