.contact-form {
  background-color: #fafafa;
  padding-bottom: 120px;
}

.contact-form_wrap {
  max-width: 1170px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.contact-form_form {
  padding: 60px 30px;
  width: 100%;
  box-sizing: border-box;
}

.contact-form_form-title,
.contact-form_form-subtitle {
  text-align: left;
}

.contact-form_form-subtitle {
  margin-bottom: 30px;
}

.contact-form_form-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 14px 30px;
  background: #FAFAFA;
  border: 1px solid #A3C9F5;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact-form_form-textarea {
  resize: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 14px 30px;
  background: #FAFAFA;
  border: 1px solid #A3C9F5;
  border-radius: 5px;
  margin-bottom: 20px;
  min-height: 94px;
}

.contact-form_form-btn {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: 'GothamPro-Bold';
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 16px;
  color: #FFFFFF;
  background: #0271C2;
  border-radius: 5px;
  border-color: transparent;
}