.main-bg {
  background-image: url('../images/content/header-bg.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 426px;
  background-color: #FAFAFA;

  @include maxtablet() {
    background-image: none;
  }
}