.nav {
  margin-right: auto;

  @include maxtablet() {
    margin: 0;
  }
}

.aside {
  .nav {
    display: none;

    @include maxtablet() {
      display: block;
      margin-bottom: 60px;
    }
  }

  .nav_list-item {
    display: block;
  }

  .nav_list {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav_item-link {
    padding: 0;
    display: block;
    margin-bottom: 40px;
  }
}

.nav_list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav_list-item {
  list-style-type: none;

  @include maxtablet() {
    display: none;
  }
}

.nav_list-item-burger {
  display: none;

  @include maxtablet() {
    display: block;
  }
}

.other-page {
  .nav_list-item-burger {
    display: block;
    margin-right: 50px;

    @include maxtablet() {
      margin-right: 0;
    }

    svg {
      display: block;
    }
  }
}

.nav_item-link {
  text-decoration: none;
  font-family: 'GothamPro-Bold', sans-serif;
  font-size: 18px;
  line-height: 17px;
  color: #F2F2F2;
  padding: 0 18px;
  transition: 0.3s;

  &:hover {
    color: #A3C9F5;
  }
}

.nav_list-item:nth-child(2) {
  .nav_item-link {
    padding-left: 0;
  }
}

.nav_list-item:last-child {
  .nav_item-link {
    padding-right: 0;
  }
}