.page-description_wrap {
  max-width: 1200px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 7px 25px rgba(73, 92, 61, 0.15);
  border-radius: 5px;
  border-left: 5px solid #A3C9F5;
  margin: 0 auto;
  margin-bottom: 30px;
}