.product {
  background: #fafafa;
  padding-top: 120px;
  padding-bottom: 60px;

  @include tablet() {
    padding-top: 60px;
  }
}


.product_wrap {
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.product_link-prev {
  font-family: 'GothamPro-Bold';
  font-size: 20px;
  line-height: 19px;
  text-decoration: none;
  color: #2E2E2E;
  padding-left: 30px;
  position: relative;
  display: block;
  margin-bottom: 60px;
}

.product_link-prev::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  left: 0;
  width: 6px;
  height: 6px;
  border-left: 3px solid #0271B9;
  border-bottom: 3px solid #0271B9;
}

.product_card-list {
  display: flex;

  @include tablet() {
    flex-direction: column;
  }
}

.product_card-list-img {
  width: 570px;
  height: 565px;
  flex: 1;
  margin-right: 30px;

  @include tablet() {
    margin-right: 0;
    margin-bottom: 50px;
    height: 400px;
  }

  @include mobile() {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product_card-list-content {
  flex: 1;
}

.product_content-price {
  font-family: 'GothamPro-Bold';
  font-size: 26px;
  line-height: 25px;
  color: #0271C2;
  margin-bottom: 30px;

  @include mobile() {
    text-align: center;
  }
}

.product_content-title {
  font-family: 'GothamPro-Bold';
  font-size: 20px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #2E2E2E;
  margin-bottom: 30px;
}

.product_content-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 145%;
  color: #333333;
  margin-bottom: 60px;

  @include mobile() {
    text-align: center;
  }
}

.product_card-btn {
  display: flex;
  align-items: center;

  @include mobile() {
    flex-direction: column;
  }
}

.product_card-btn-link {
  text-decoration: none;
  font-family: 'GothamPro-Bold', sans-serif;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #005BB9;
  padding: 13px 45px;
  border: 1px solid #005BB9;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  flex: 1;
  max-width: 270px;
  height: min-content;
  margin-right: 30px;

  @include mobile() {
    margin-right: 0;
  }
}

.product_card-btn-link::before {
  content: '';
  display: block;
  position: absolute;
  width: 93px;
  height: 1px;
  bottom: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
}

.product_card-btn-link::after {
  content: '';
  display: block;
  position: absolute;
  width: 93px;
  height: 1px;
  top: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
}

.product_card-btn-text {
  flex: 1;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  color: #828282;

  @include mobile() {
    text-align: center;
  }
}




.product_card-info {
  padding: 60px 0;
  margin: 0;
}

.product_info-item {
  list-style-type: none;
  display: flex;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.product_info-item-decor {
  border-bottom: 1px solid #A3C9F5;
  flex: 1;
  margin: 0 15px;
}