.reviews {
  background: #FAFAFA;
  padding-bottom: 120px;
}

.other-page {
  .reviews {

    padding: 120px 0;
  }
}

.reviews_wrap {
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.reviews_list {
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 60px;
  position: relative;
}

.reviews_list-item {
  list-style-type: none;
  background: #FFFFFF;
  box-shadow: 0px 7px 10px rgba(73, 92, 61, 0.15);
  border-radius: 5px;
  padding: 30px 20px;
  margin: 15px;
  outline: none;
}

.reviews_item-data {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.reviews_data-img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  overflow: hidden;
  background: grey;
  margin-right: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.reviews_data-name {
  font-family: 'GothamPro-Bold', sans-serif;
  font-size: 16px;
  line-height: 15px;
  color: #333333;
  margin-bottom: 5px;
}

.reviews_data-position {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 145%;
  text-transform: uppercase;
  color: #828282;
}

.reviews_item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  color: #333333;
}


.reviews_pagination {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;

  li {
    list-style-type: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #BFC7C5;
    margin: 0 15px;

    button {
      display: none;
    }
  }

  .slick-active {
    background-color: #A3C9F5;
  }
}