.service-catalog {
  padding-top: 120px;
}

.service-page-main--style {
  .service-catalog {
    background: #fafafa;
  }
}

.service-catalog_subtitle {
  margin-bottom: 60px;
}

.service-catalog--project {
  margin-bottom: 120px;
}