.service-page-main_wrap {
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  margin-top: 35px;
}

.service-page-main_content-title {
  font-family: 'GothamPro-Black';
  font-size: 70px;
  line-height: 67px;
  margin-bottom: 80px;
  margin-top: 60px;
  color: #FFFFFF;
}

.service-page-main_content-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 145%;
  color: #333333;
  margin-bottom: 68px;
}

.service-page-main_content {
  max-width: 587px;
}

.service-page-main_img {
  width: 785px;
  height: 500px;
  margin-right: -220px;
  margin-left: 80px;
  border-radius: 15px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.service-page-main_form-input {
  padding: 14px 32px;
  background: #FFFFFF;
  border: 1px solid #A3C9F5;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 30px;
}