.service-card {
  padding-top: 120px;
  background-color: #fafafa;

  @include tablet() {
    padding-top: 60px;
  }
}

.service-card_wrap {
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.service-card_title,
.service-card_subtitle {
  text-align: left;
}

.service-card_subtitle {
  margin-bottom: 60px;
}

.service-card_content {
  display: flex;
}

.service-card_call {
  margin-left: 30px;
  max-width: 370px;

  @include tablet() {
    display: none;
  }
}

.service-card_call-baner {
  width: 370px;
  height: 700px;
  border-radius: 5px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.service-card_call-btn {
  text-decoration: none;
  font-family: 'GothamPro-Bold';
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  color: #0271B9;
  padding: 16px;
  margin: 0 30px;
  background: #FFFFFF;
  border-radius: 5px;
  margin-top: -25px;
  position: relative;
  z-index: 9;
  box-shadow: 0px 7px 25px rgba(73, 92, 61, 0.15);
}

.service-card_list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.service-card_list-item {
  list-style-type: none;
  width: 370px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 7px 25px rgba(73, 92, 61, 0.15);
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 30px;
  box-sizing: border-box;
  transition: 0.3s;

  @include maxtablet() {
    width: 100%;
  }
}

.service-card_list-item:nth-child(1),
.service-card_list-item:nth-child(3) {
  margin-right: 30px;

  @include maxtablet() {
    margin-right: 0;
  }
}

.service-card_item-num {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  color: #0271B9;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../images/icons/Intersect.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-card_item-description {
  position: absolute;
  display: none;
}

.service-card_item-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #EEECE8;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 30px;
  display: flex;

  img {
    width: 40px;
    height: 40px;
    margin: auto;
  }
}

.service-card_item-title {
  font-family: 'GothamPro-Bold';
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #2E2E2E;
  max-width: 158px;
  min-height: 50px;
  margin: 0 auto;
  margin-bottom: 40px;
  transition: 0.3s;
}

.service-card_item-link {
  text-decoration: none;
  font-family: 'GothamPro-Bold';
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #0271C2;
  display: block;
  transition: 0.3s;
}


.service-card_list-item:hover {
  background-color: #50b2f9;

  .service-card_item-link {
    color: #fff;
  }

  .service-card_item-title {
    color: #fff;
  }
}