<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Solar || О нас
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
    link(rel="stylesheet", href="assets/styles/app.min.css")
  body
    .wrapper.other-page
      include ../includes/_aside-info.pug
      include ../includes/header.pug
      .about-bg 
        section.about-page
          .about-page_wrap
            .about-page_wrap-content
              h4.about-page_title Что мы можем сказать о себе
              h5.about-page_subtitle Энергия солнца для обогащения мира
              .about-page_text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах
              .about-page_content
                ul.about-page_content-icons
                  li.about-page_icons-item
                    img(src="assets/images/icons/mars.svg", alt="icons")
                  li.about-page_icons-item
                    img(src="assets/images/icons/solar-energy.svg", alt="icons")
                  li.about-page_icons-item
                    img(src="assets/images/icons/charger.svg", alt="icons")
                  li.about-page_icons-item
                    img(src="assets/images/icons/home.svg", alt="icons")
                a(href="#").about-page_link.btn-submit Каталог
        section.advantages
          .advantages_wrap
            .advantages_wrap-content
              .advantages_content
                  h5.advantages_content-subtitle Почему выбирают нас
                  .advantages_content-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков
              ul.advantages_list
                  li.advantages_list-item
                      .advantages_item-img
                          img(src="assets/images/icons/solar-energy.svg", alt="icons")
                      .advantages_item-wrap
                          .advantages_item-title Преимущество
                          .advantages_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
                  li.advantages_list-item
                      .advantages_item-img
                          img(src="assets/images/icons/mars.svg", alt="icons")
                      .advantages_item-wrap
                          .advantages_item-title Преимущество
                          .advantages_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
                  li.advantages_list-item
                      .advantages_item-img
                          img(src="assets/images/icons/charger.svg", alt="icons")
                      .advantages_item-wrap
                          .advantages_item-title Преимущество
                          .advantages_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
                  li.advantages_list-item
                      .advantages_item-img
                          img(src="assets/images/icons/home.svg", alt="icons")
                      .advantages_item-wrap
                          .advantages_item-title Преимущество
                          .advantages_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
      section.how-works
        .how-works_wrap
          h4.how-works_title процесс работы
          h5.how-works_subtitle Как мы работаем
          ul.how-works_list
              li.how-works_list-item
                  .how-works_item-title ПЛАНИРОВАНИЕ ПРОЕКТА
                  .how-works_item-decor
                  .how-works_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
              li.how-works_list-item
                  .how-works_item-title СТРОИТЕЛЬСТВО
                  .how-works_item-decor
                  .how-works_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
              li.how-works_list-item
                  .how-works_item-title контроль
                  .how-works_item-decor
                  .how-works_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
              li.how-works_list-item
                  .how-works_item-title Сдача
                  .how-works_item-decor
                  .how-works_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне  
      include ../includes/_reviews.pug  
      include ../includes/_page-contact.pug
      include ../includes/footer.pug 