<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Solar || Блог
  body
    .wrapper
      include ../includes/header.pug 
      section.blog
        .blog_wrap
          ul.blog_list
            li.blog_list-item
              a(href="blog-page.html").blog_item-link
                img(src="#", alt="blog").blog_item-img
                .blog_item-date 31 декабря 2019
                .blog_item-name Название статьи
            li.blog_list-item
              a(href="blog-page.html").blog_item-link
                img(src="#", alt="blog").blog_item-img
                .blog_item-date 31 декабря 2019
                .blog_item-name Название статьи
            li.blog_list-item
              a(href="blog-page.html").blog_item-link
                img(src="#", alt="blog").blog_item-img
                .blog_item-date 31 декабря 2019
                .blog_item-name Название статьи
            li.blog_list-item
              a(href="blog-page.html").blog_item-link
                img(src="#", alt="blog").blog_item-img
                .blog_item-date 31 декабря 2019
                .blog_item-name Название статьи
      include ../includes/footer.pug 