<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Solar || Каталог
  body
    .wrapper
      include ../includes/header.pug 
      section.catalog-list
        .catalog-list_wrap
          h4.catalog-list_title Что вас интересует
          h5.catalog-list_subtitle Каталог  солнечных панелей
          ul.catalog-list_list
            li.catalog-list_list-item
              a(href="#").catalog-list_item-link
                .catalog-list_item-num 01
                .catalog-list_item-img
                  img(src="#", alt="product")
                .catalog-list_item-title Название категории
            li.catalog-list_list-item
              a(href="#").catalog-list_item-link
                .catalog-list_item-num 02
                .catalog-list_item-img
                  img(src="#", alt="product")
                .catalog-list_item-title Название категории
            li.catalog-list_list-item
              a(href="#").catalog-list_item-link
                .catalog-list_item-num 03
                .catalog-list_item-img
                  img(src="#", alt="product")
                .catalog-list_item-title Название категории
      section.product-list
        .product-list_wrap
          h5.product-list_title
          ul.product-list_list
            li.product-list_list-item
              a(href="product-cart.html")
                .product-list_item-img
                  img(src="#", alt="product")
                .product-list_item-title Название товара
                .product-list_item-price 2 658 грн
            li.product-list_list-item
              a(href="product-cart.html")
                .product-list_item-img
                  img(src="#", alt="product")
                .product-list_item-title Название товара
                .product-list_item-price 2 658 грн
            li.product-list_list-item
              a(href="product-cart.html")
                .product-list_item-img
                  img(src="#", alt="product")
                .product-list_item-title Название товара
                .product-list_item-price 2 658 грн
            li.product-list_list-item
              a(href="product-cart.html")
                .product-list_item-img
                  img(src="#", alt="product")
                .product-list_item-title Название товара
                .product-list_item-price 2 658 грн
            li.product-list_list-item
              a(href="product-cart.html")
                .product-list_item-img
                  img(src="#", alt="product")
                .product-list_item-title Название товара
                .product-list_item-price 2 658 грн
            li.product-list_list-item
              a(href="product-cart.html")
                .product-list_item-img
                  img(src="#", alt="product")
                .product-list_item-title Название товара
                .product-list_item-price 2 658 грн
      section.seo-text
        .seo-text_wrap
          .seo-text_title Заголовок SEO-текста
          .seo-text_content Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
          .seo-text_btn читать
      include ../includes/footer.pug 