<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Solar || Каталог
    link(rel="stylesheet", href="assets/styles/app.min.css")
  body
    .wrapper.other-page
      include ../includes/_aside-info.pug
      include ../includes/header.pug 
      section.catalog-page-list
        .catalog-page-list_wrap
          h4.catalog-page-list_title Что вас интересует
          h5.catalog-page-list_subtitle Каталог  солнечных панелей
          ul.catalog-page-list_list
            li.catalog-page-list_list-item
              a(href="#").catalog-page-list_item-link
                .catalog-page-list_item-num 01
                .catalog-page-list_item-img
                  img(src="assets/images/content/tovar1.png", alt="product")
                .catalog-page-list_item-title Название категории
            li.catalog-page-list_list-item
              a(href="#").catalog-page-list_item-link
                .catalog-page-list_item-num 02
                .catalog-page-list_item-img
                  img(src="assets/images/content/tovar2.png", alt="product")
                .catalog-page-list_item-title Название категории
            li.catalog-page-list_list-item
              a(href="#").catalog-list_item-link
                .catalog-page-list_item-num 03
                .catalog-page-list_item-img
                  img(src="assets/images/content/tovar3.png", alt="product")
                .catalog-page-list_item-title Название категории
      section.product-list
        .product-list_wrap
          h5.product-list_title Название выбранной категории
          ul.product-list_list
            li.product-list_list-item
              a(href="product-cart.html")
                .product-list_item-img
                  img(src="assets/images/content/product-1.jpg", alt="product")
                .product-list_item-title Название товара
            li.product-list_list-item
              a(href="product-cart.html")
                .product-list_item-img
                  img(src="assets/images/content/product-2.jpg", alt="product")
                .product-list_item-title Название товара
            li.product-list_list-item
              a(href="product-cart.html")
                .product-list_item-img
                  img(src="assets/images/content/product-3.jpg", alt="product")
                .product-list_item-title Название товара
            li.product-list_list-item
              a(href="product-cart.html")
                .product-list_item-img
                  img(src="assets/images/content/product-2.jpg", alt="product")
                .product-list_item-title Название товара
            li.product-list_list-item
              a(href="product-cart.html")
                .product-list_item-img
                  img(src="assets/images/content/product-3.jpg", alt="product")
                .product-list_item-title Название товара
            li.product-list_list-item
              a(href="product-cart.html")
                .product-list_item-img
                  img(src="assets/images/content/product-1.jpg", alt="product")
                .product-list_item-title Название товара
      section.seo-text
        .seo-text_wrap
          .seo-text_title Заголовок SEO-текста
          .seo-text_content Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
          a(href="#").seo-text_btn читать
      include ../includes/footer.pug 