<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Solar || Контакты
    link(rel="stylesheet", href="assets/styles/app.min.css")
  body
    .wrapper.other-page
      include ../includes/_aside-info.pug
      include ../includes/header.pug 
      section.contact-page
        .contact-page_wrap
          .contact-page_content
            h4.contact-page_content-title Свяжитесь с нами
            h5.contact-page_content-subtitle Контакты
            .contact-page_content-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
            ul.contact-page_contact
              li.contact-page_contact-item
                .contact-page_item-img
                  include ../svg/call.pug 
                .contact-page_item-content
                  div Позвоните нам
                  a(href="tel:+").contact-page_item-content-link +380 (50) 123 45 67
              li.contact-page_contact-item
                .contact-page_item-img
                   include ../svg/email.pug 
                .contact-page_item-content
                  div Напишите нам
                  a(href="mailto:").contact-page_item-content-link example@mail.com
              li.contact-page_contact-item
                .contact-page_item-img
                  include ../svg/pin.pug 
                .contact-page_item-content
                  div.contact-page_item-content-link
                    | г. Днепр
                    br
                    | ул. Карла Маркса 1 
          .contact-page_img
            img(src="assets/images/content/mariana-proenca-big-unsplash.png", alt="contact")
      section.contact-form
        .contact-form_wrap
          .contact-form_map
            #map
              img(src="assets/images/content/map.png", alt="map")
          .contact-form_form
            form(action="#", method="post")
              h4.contact-form_form-title Напишите нам
              h5.contact-form_form-subtitle Форма
              input(type="text" placeholder="Имя").contact-form_form-input
              input(type="text" placeholder="Email").contact-form_form-input
              textarea(name="#" placeholder="Комментарий").contact-form_form-textarea
              button(type="submit").contact-form_form-btn Отправить
      include ../includes/footer.pug 