<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Solar
        link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
        link(rel="stylesheet", href="assets/styles/app.min.css")
    body
        .wrapper
            include ../includes/_aside-info.pug
            .main-bg
                include ../includes/header.pug  
                section.main-slider
                    .main-slider_wrap
                        ul.main-slider_list
                            li.main-slider_list-item
                                .main-slider_item-img
                                    img(src="assets/images/content/main-slider.png", alt="slide")
                                .main-slider_item-content
                                    .main-slider_item-title Что такое Lorem Ipsum?
                                    .main-slider_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века
                                    form(action="#", method="post").main-slider_form
                                        input(type="text" placeholder="+380 (__) ___ __ __").main-slider_form-input
                                        button(type="submit").btn-submit оставить заявку
                            li.main-slider_list-item
                                .main-slider_item-img
                                    img(src="assets/images/content/main_slider_2-min.png", alt="slide")
                                .main-slider_item-content
                                    .main-slider_item-title Что такое Lorem Ipsum?
                                    .main-slider_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века
                                    form(action="#", method="post").main-slider_form
                                        input(type="text" placeholder="+380 (__) ___ __ __").main-slider_form-input
                                        button(type="submit").btn-submit оставить заявку
                            li.main-slider_list-item
                                .main-slider_item-img
                                    img(src="assets/images/content/main_slider_3-min.png", alt="slide")
                                .main-slider_item-content
                                    .main-slider_item-title Что такое Lorem Ipsum?
                                    .main-slider_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века
                                    form(action="#", method="post").main-slider_form
                                        input(type="text" placeholder="+380 (__) ___ __ __").main-slider_form-input
                                        button(type="submit").btn-submit оставить заявку
            section.ww
                .ww_wrap
                    h4.ww_title почему солнечные панели
                    h5.ww_subtitle Это больше, чем просто энергия
                    ul.ww_list
                        li.ww_list-item 
                            .ww_item-num 01
                            .ww_item-img
                                img(src="assets/images/icons/home.svg", alt="icons")
                            .ww_item-title Сервис солнечных электростанций
                            a(href="#").ww_item-link подробнее
                            .ww_item-description Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        li.ww_list-item 
                            .ww_item-num 02
                            .ww_item-img
                                img(src="assets/images/icons/solar-energy.svg", alt="icons")
                            .ww_item-title Строительство электростанций "под ключ"
                            a(href="#").ww_item-link подробнее
                            .ww_item-description Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        li.ww_list-item 
                            .ww_item-num 03
                            .ww_item-img
                                img(src="assets/images/icons/Broken-Bulb.svg", alt="icons")
                            .ww_item-title Сервис солнечных электростанций
                            a(href="#").ww_item-link подробнее
                            .ww_item-description Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        li.ww_list-item 
                            .ww_item-num 04
                            .ww_item-img
                                img(src="assets/images/icons/solar-energy.svg", alt="icons")
                            .ww_item-title Строительство гелиосистем
                            a(href="#").ww_item-link подробнее
                            .ww_item-description Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
            section.about
                .about_wrap
                    .about_content
                        .about_content-wrap
                            h5.about_contnet-title
                                | Энергия солнца
                                br
                                |  для обогащения мира
                            .about_contnet-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах                             
                            ul.about_content-icon
                                li.about_icon-item
                                    img(src="assets/images/icons/mars.svg", alt="icons")
                                li.about_icon-item
                                    img(src="assets/images/icons/solar-energy.svg", alt="icons")
                                li.about_icon-item
                                    img(src="assets/images/icons/charger.svg", alt="icons")
                                li.about_icon-item
                                    img(src="assets/images/icons/home.svg", alt="icons")
                            .about_btn
                                a(href="#").about_btn-link больше
                                a(href="#").btn-submit Каталог
                        .about_content-img
                            img(src="assets/images/content/mariana-proenca-unsplash.jpg", alt="about")  
            section.main-catalog               
                include ../includes/_catalog-list.pug     
            section.how-works
                .how-works_wrap
                    h4.how-works_title процесс работы
                    h5.how-works_subtitle Как мы работаем
                    ul.how-works_list
                        li.how-works_list-item
                            .how-works_item-title ПЛАНИРОВАНИЕ ПРОЕКТА
                            .how-works_item-decor
                            .how-works_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
                        li.how-works_list-item
                            .how-works_item-title СТРОИТЕЛЬСТВО
                            .how-works_item-decor
                            .how-works_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
                        li.how-works_list-item
                            .how-works_item-title контроль
                            .how-works_item-decor
                            .how-works_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
                        li.how-works_list-item
                            .how-works_item-title Сдача
                            .how-works_item-decor
                            .how-works_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне      
            include ../includes/_prodject-list.pug             
            section.call-project
                .call-project_wrap
                    .call-project_title Опыт и знания широкого спектра проектов
                    a(href="#").call-project_btn все проекты
            section.advantages
                .advantages_wrap
                    .advantages_content
                        h4.advantages_content-title МЫ ПРЕДЛАГАЕМ РАЗНЫЕ УСЛУГИ
                        h5.advantages_content-subtitle Почему выбирают нас
                        .advantages_content-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
                    ul.advantages_list
                        li.advantages_list-item
                            .advantages_item-img
                                img(src="assets/images/icons/mars.svg", alt="icons")
                            .advantages_item-wrap
                                .advantages_item-title Преимущество
                                .advantages_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
                        li.advantages_list-item
                            .advantages_item-img
                                img(src="assets/images/icons/mars.svg", alt="icons")
                            .advantages_item-wrap
                                .advantages_item-title Преимущество
                                .advantages_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
                        li.advantages_list-item
                            .advantages_item-img
                                img(src="assets/images/icons/mars.svg", alt="icons")
                            .advantages_item-wrap
                                .advantages_item-title Преимущество
                                .advantages_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
                        li.advantages_list-item
                            .advantages_item-img
                                img(src="assets/images/icons/mars.svg", alt="icons")
                            .advantages_item-wrap
                                .advantages_item-title Преимущество
                                .advantages_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
            include ../includes/_reviews.pug  
            include ../includes/_consultation.pug                          
            include ../includes/_page-contact.pug
            section.last-articles
                .last-articles_wrap
                    h4.last-articles_title последнее опубликованное
                    h5.last-articles_subtitle Свежие статьи
                    ul.last-articles_list
                        li.last-articles_list-item
                            a(href="#")
                                .last-articles_item-decor
                                .last-articles_item-img
                                    img(src="assets/images/content/american-public-power-association-big-unsplash.jpg", alt="articles")
                                .last-articles_item-content
                                    .last-articles_content-date 31 декабря 2019
                                    .last-articles_content-title Название статьи
                        li.last-articles_list-item
                            a(href="#")
                                .last-articles_item-decor
                                .last-articles_item-img
                                    img(src="assets/images/content/mariana-proenca-1235948-unsplash.jpg", alt="articles")
                                .last-articles_item-content
                                    .last-articles_content-date 31 декабря 2019
                                    .last-articles_content-title Название статьи
                        li.last-articles_list-item
                            a(href="#")
                                .last-articles_item-decor
                                .last-articles_item-img
                                    img(src="assets/images/content/article3.jpg", alt="articles")
                                .last-articles_item-content
                                    .last-articles_content-date 31 декабря 2019
                                    .last-articles_content-title Название статьи
                        li.last-articles_list-item
                            a(href="#")
                                .last-articles_item-decor
                                .last-articles_item-img
                                    img(src="assets/images/content/david-cristian-325638-unsplash.jpg", alt="articles")
                                .last-articles_item-content
                                    .last-articles_content-date 31 декабря 2019
                                    .last-articles_content-title Название статьи
            section.partners
                .partners_wrap
                    ul.partners_list
                        li.partners_list-item
                            img(src="assets/images/content/partner1.png", alt="partner")
                        li.partners_list-item
                            img(src="assets/images/content/partner2.png", alt="partner")
                        li.partners_list-item
                            img(src="assets/images/content/partner3.png", alt="partner")
                        li.partners_list-item
                            img(src="assets/images/content/partner4.png", alt="partner")
                        li.partners_list-item
                            img(src="assets/images/content/partner5.png", alt="partner")
            include ../includes/footer.pug