<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Solar || Проекты
    link(rel="stylesheet", href="assets/styles/app.min.css")
  body
    .wrapper.other-page
      include ../includes/_aside-info.pug
      include ../includes/header.pug 
      section.blog.project
        .blog_wrap
          h4.blog_title Как мы делаем
          h5.blog_subtitle Наши проекты
          ul.blog_list
            li.blog_list-item
              a(href="project-page.html").blog_item-link
                img(src="assets/images/content/american-public-power-association-big-unsplash.jpg", alt="blog").blog_item-img
                .blog_item-content
                  .blog_item-name Название проекта
                  .blog_item-date Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
            li.blog_list-item
              a(href="project-page.html").blog_item-link
                img(src="assets/images/content/american-public-power-association-big-unsplash.jpg", alt="blog").blog_item-img
                .blog_item-content
                  .blog_item-name Название проекта
                  .blog_item-date Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
            li.blog_list-item
              a(href="project-page.html").blog_item-link
                img(src="assets/images/content/american-public-power-association-big-unsplash.jpg", alt="blog").blog_item-img
                .blog_item-content
                  .blog_item-name Название проекта
                  .blog_item-date Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
            li.blog_list-item
              a(href="project-page.html").blog_item-link
                img(src="assets/images/content/american-public-power-association-big-unsplash.jpg", alt="blog").blog_item-img
                .blog_item-content
                  .blog_item-name Название проекта
                  .blog_item-date Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
            li.blog_list-item
              a(href="project-page.html").blog_item-link
                img(src="assets/images/content/american-public-power-association-big-unsplash.jpg", alt="blog").blog_item-img
                .blog_item-content
                  .blog_item-name Название проекта
                  .blog_item-date Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
            li.blog_list-item
              a(href="project-page.html").blog_item-link
                img(src="assets/images/content/american-public-power-association-big-unsplash.jpg", alt="blog").blog_item-img
                .blog_item-content
                  .blog_item-name Название проекта
                  .blog_item-date Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
      include ../includes/footer.pug 