<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Solar || Услуги
  body
    .wrapper
      include ../includes/header.pug  
      section.service-card
        .service-card_wrap
          h4.service-card_title Что вас интересует
          h5.service-card_subtitle Перечень услуг
          .service-card_content
            ul.service-card_list
              li.service-card_list-item
                .service-card_item-num 01
                .service-card_item-img
                  img(src="#", alt="service")
                .service-card_item-title Строительство гелиосистем
                .service-card_item-description Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                a(href="service-page.html").service-card_item-link подробнее
              li.service-card_list-item
                .service-card_item-num 02
                .service-card_item-img
                  img(src="#", alt="service")
                .service-card_item-title Строительство гелиосистем
                .service-card_item-description Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                a(href="service-page.html").service-card_item-link подробнее
              li.service-card_list-item
                .service-card_item-num 03
                .service-card_item-img
                  img(src="#", alt="service")
                .service-card_item-title Строительство гелиосистем
                .service-card_item-description Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                a(href="service-page.html").service-card_item-link подробнее
              li.service-card_list-item
                .service-card_item-num 04
                .service-card_item-img
                  img(src="#", alt="service")
                .service-card_item-title Строительство гелиосистем
                .service-card_item-description Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                a(href="service-page.html").service-card_item-link подробнее
            .service-card_call
              .service-card_call-baner
              .service-card_call-btn связаться
      section.seo-text
        .seo-text_wrap
          .seo-text_title Заголовок SEO-текста
          .seo-text_content Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
          .seo-text_btn читать
      include ../includes/footer.pug