.catalog-list
  ul.catalog-list_wrap
    li.catalog-list_item
      .catalog-list_item-content
        .catalog-list_content-img
          img(src="#", alt="catalog")
        .catalog-list_content-title Название товара
        .catalog-list_content-price 1600 грн
    li.catalog-list_item
      .catalog-list_item-content
        .catalog-list_content-img
          img(src="#", alt="catalog")
        .catalog-list_content-title Название товара
        .catalog-list_content-price 1600 грн
    li.catalog-list_item
      .catalog-list_item-content
        .catalog-list_content-img
          img(src="#", alt="catalog")
        .catalog-list_content-title Название товара
        .catalog-list_content-price 1600 грн
  ul.catalog-list_pagination
    li.catalog-list_pagination-item -
    li.catalog-list_pagination-item -
    li.catalog-list_pagination-item -