.catalog-list
  ul.catalog-list_wrap
    li.catalog-list_item
      a(href="#").catalog-list_item-link
        .catalog-list_item-content
          .catalog-list_content-img
            img(src="assets/images/content/product-1.jpg", alt="catalog")
          .catalog-list_content-title Название товара
    li.catalog-list_item
      a(href="#").catalog-list_item-link
        .catalog-list_item-content
          .catalog-list_content-img
            img(src="assets/images/content/product-2.jpg", alt="catalog")
          .catalog-list_content-title Название товара
    li.catalog-list_item
      a(href="#").catalog-list_item-link
        .catalog-list_item-content
          .catalog-list_content-img
            img(src="assets/images/content/product-3.jpg", alt="catalog")
          .catalog-list_content-title Название товара
  ul.catalog-list_pagination
    li.catalog-list_pagination-item.catalog-list_pagination-item--active
    li.catalog-list_pagination-item
    li.catalog-list_pagination-item