section.consultation
  .consultation_wrap
    .consultation_img
       a(href="tel:+").consultation_number +380 (50) 123 45 67
    .consultation_content
      .consultation_content-title Получите бесплатную консультацию
      .consultation_content-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
      form(action="#", method="post").consultation_form
        input(type="text" placeholder="Ваша электронная почта").consultation_form-input
        input(type="text" placeholder="Что Вас интересует").consultation_form-input
        button(type="submit") Отправить