.page-contact
  .page-contact_wrap
    h4.page-contact_title свяжитесь с нами
    h5.page-contact_subtitle Контакты
    ul.page-contact_list
      li.page-contact_list-item
        .page-contact_item-img
          include ../svg/call.pug 
        .page-contact_item-wrap
          .page-contact_item-title Позвоните нам
          a(href="tel:+").page-contact_item-text +380 (50) 123 45 67
      li.page-contact_list-item
        .page-contact_item-img
          include ../svg/email.pug 
        .page-contact_item-wrap
          .page-contact_item-title Напишите нам
          a(href="mailto:").page-contact_item-text example@mail.com
      li.page-contact_list-item
        .page-contact_item-img
          include ../svg/pin.pug 
        .page-contact_item-wrap
          .page-contact_item-title Приходите к нам
          div.page-contact_item-text г. Днепр ул. Карла Маркса 1