.page-contact
  .page-contact_wrap
    h4.page-contact_title свяжитесь с нами
    h5.page-contact_subtitle Контакты
    ul.page-contact_list
      li.page-contact_list-item
        .page-contact_item-img
          img(src="#", alt="icon")
        .page-contact_item-wrap
          .page-contact_item-title Позвоните нам
          a(href="tel:+") +380 (50) 123 45 67
      li.page-contact_list-item
        .page-contact_item-img
          img(src="#", alt="icon")
        .page-contact_item-wrap
          .page-contact_item-title Напишите нам
          a(href="mailto:") example@mail.com
      li.page-contact_list-item
        .page-contact_item-img
          img(src="#", alt="icon")
        .page-contact_item-wrap
          .page-contact_item-title Приходите к нам
          div г. Днепр ул. Карла Маркса 1