section.project-list
  .project-list_wrap
    h4.project-list_title как мы делаем
    h5.project-list_subtitle Наши проекты
    ul.project-list_list
      li.project-list_list-item
        a(href="#")
          .project-list_item-img
            img(src="assets/images/content/american-public-power-association-419672-unsplash.jpg", alt="project")
          .project-list_list-item-content
            .project-list_item-title Название проекта
            .project-list_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
      li.project-list_list-item 
        a(href="#")
          .project-list_item-img
            img(src="assets/images/content/mariana-proenca-1235961-unsplash.jpg", alt="project")
          .project-list_list-item-content
            .project-list_item-title Название проекта
            .project-list_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.