.reviews
  .reviews_wrap
    h4.reviews_title
    h5.reviews_subtitle
    ul.reviews_list
      li.reviews_list-item
        .reviews_item-data
          .reviews_data-img
            img(src="#", alt="avatar")
          .reviews_data-content
            .reviews_data-name Джон Доу
            .reviews_data-position Предприниматель
        .reviews_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
      li.reviews_list-item
        .reviews_item-data
          .reviews_data-img
            img(src="#", alt="avatar")
          .reviews_data-content
            .reviews_data-name Джон Доу
            .reviews_data-position Предприниматель
        .reviews_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
      li.reviews_list-item
        .reviews_item-data
          .reviews_data-img
            img(src="#", alt="avatar")
          .reviews_data-content
            .reviews_data-name Джон Доу
            .reviews_data-position Предприниматель
        .reviews_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
    ul.reviews_pagination
      li.reviews_pagination-item *
      li.reviews_pagination-item *
      li.reviews_pagination-item *      