footer.footer
  .footer_wrap
    .footer_row-first
      .footer_logo
        include ../svg/logo.pug 
      .footer_row-first-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
      .footer_msg
        .footer_msg-title Напишите нам в мессенджере
        a(href="#").footer_msg-link
          include ../svg/telegram.pug 
        a(href="#").footer_msg-link
          include ../svg/viber.pug 
    .footer_row-second
      ul.footer_nav
        li.footer_nav-title Меню
        li.footer_nav-item
          a(href="#").footer_nav-item-link Главная
        li.footer_nav-item
          a(href="#").footer_nav-item-link Каталог
        li.footer_nav-item
          a(href="#").footer_nav-item-link Услуги
        li.footer_nav-item
          a(href="#").footer_nav-item-link О компании
        li.footer_nav-item
          a(href="#").footer_nav-item-link Блог
    .footer_row-third
      ul.footer_contact
        li.footer_contact-title Контакты
        li.footer_contact-item
          a(href="tel:+").footer_contact-link +380(50) 123 45 67
        li.footer_contact-item
          a(href="mailto:").footer_contact-link example@mail.com
        li.footer_contact-item
          div.footer_contact-link г. Днепр, ул. Карла Маркса 1
      ul.footer_social
        li.footer_social-title Социальные сети
        li.footer_social-item
          a(href="#").footer_social-item-link 
            include ../svg/facebook.pug 
        li.footer_social-item
          a(href="#").footer_social-item-link
            include ../svg/youtube.pug 
        li.footer_social-item
          a(href="#").footer_social-item-link
            include ../svg/instagram.pug 
  .footer_copyright
    a(href="#") Solar. Development by AS - All right reserves
script(type='text/javascript', src='//code.jquery.com/jquery-1.11.0.min.js')
script(type='text/javascript', src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
script(type='text/javascript', src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
script(src="assets/scripts/index-min.js")