header.header
  .header_header
    .logo
      img(src="#", alt="logo")
    ul.header_header-contact
      li.header_contact-item
        .header_contact-img
          img(src="#", alt="contact")
        .header_contact-wrap
          .header_contact-title Позвоните нам
          a(href="tel:+").header_contact-text +380 (50) 123 45 67
      li.header_contact-item
        .header_contact-img
          img(src="#", alt="contact")
        .header_contact-wrap
          .header_contact-title Напишите нам
          a(href="mailto:").header_contact-text example@mail.com
      li.header_contact-item
        .header_contact-img
          img(src="#", alt="contact")
        .header_contact-wrap
          .header_contact-title Наш адрес
          .header_contact-text г. Днепр ул. Карла Маркса 1
    ul.header_header-social
      li.header_social-item
        a(href="#") FB
      li.header_social-item
        a(href="#") YU
      li.header_social-item
        a(href="#") IN
  .header_footer
    nav.nav
      ul.nav_list
        li.nav_list-item
          a(href="index.html").nav_item-link Главная
        li.nav_list-item
          a(href="catalog.html").nav_item-link Каталог
        li.nav_list-item
          a(href="service.html").nav_item-link Услуги
        li.nav_list-item
          a(href="about.html").nav_item-link О компании
        li.nav_list-item
          a(href="contact.html").nav_item-link Контакты
        li.nav_list-item
          a(href="blog.html").nav_item-link Блог
    a(href="#").call-btn заказать звонок