h4 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #0271B9;
  margin: 0;
  margin-bottom: 20px;
}

h5 {
  font-family: 'GothamPro-Bold', sans-serif;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #2E2E2E;
  margin: 0;

}

.frame-img {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.langflags {
  position: absolute;
  top: 0;
  right: 0;

  @include maxtablet() {
    top: 15px;
    right: 85px;
    z-index: 999;
  }

  @include tablet() {
    top: 60px;
    right: 10px;
  }
}