@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=cyrillic,cyrillic-ext');

/*font-family: 'Open Sans', sans-serif;*/


@font-face {
  font-family: 'GothamPro-Black';
  src: url('../fonts/GothamPro-Black.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../fonts/GothamPro-Bold.woff');
  font-weight: normal;
  font-style: normal;
}